[data-speaker="モチャ"] {
    background-color: #6b6 !important;
    border-color: #aea !important;
}

[data-speaker="ナレーション"] {
    &#namePanel {
        display: none !important;
    }
}

#namePanel,
#talkPanel,
#talkPanel * {
    border-radius: 2vh;
    color: #cee;
}
